<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is the game file</title>
    <link rel="stylesheet" href="/static/game_style.css">
</head>
<body>
    <ul class="circle">
        <li><img src="/static/images/egg_1.png" alt="egg_1"></li>
        <li><img src="/static/images/egg_2.png" alt="egg_2"></li>
        <li><img src="/static/images/egg_3.png" alt="egg_3"></li>
        <li><img src="/static/images/egg_4.png" alt="egg_4"></li>
        <li><img src="/static/images/egg_5.png" alt="egg_5"></li>
        <li><img src="/static/images/egg_6.png" alt="egg_6"></li>
    </ul>
</body>
</html>